# Database
DATABASE_URL="postgresql://vaultbase:vaultbase_secret@localhost:7432/vaultbase"

# NextAuth
NEXTAUTH_URL="http://localhost:7190"
NEXTAUTH_SECRET="super-secret-change-me-in-production"

# Google OAuth (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
